body {
 content: '';
 /* background-image: url('http://www.sikhmuseum.com/nishan/images/Boy_Nishan1.jpg')  ;
 background-repeat: no-repeat;
 background-attachment: fixed; */
 background-color: white;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



.pagebox {
    border: solid black ;
    padding: 20px ;
    margin-top: 20px;
    border-style: groove;
    border-color: royalblue;
    border-width: 7px;
    border-radius: 25px;
    background-color: orange
}
.tpagebox {
    border: solid black ;
    padding: 20px ;
    margin-top: 20px;
    border-style: groove;
    border-color: orange;
    border-width: 7px;
    text-align: center;
    font: orange;
    border-radius: 25px;
    background-color: royalblue;
}
