body {
 content: '';
 background-image: url('http://www.sikhmuseum.com/nishan/images/Boy_Nishan1.jpg')  ;
 background-repeat: no-repeat;
 background-attachment: fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}



.pagebox {
    border: solid black ;
    padding: 20px ;
    margin-top: 20px;
    border-style: groove;
    border-color: coral;
    border-width: 7px;
    border-radius: 25px;
    
}
.tpagebox {
    border: solid black ;
    padding: 20px ;
    margin-top: 20px;
    border-style: groove;
    border-color: coral;
    border-width: 7px;
    text-align: center;
    border-radius: 25px
}
